# Node / Expo
node_modules/
.expo/
dist/
*.log
.idea/

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Env
.env.*
.env
.env.local
env.json

# AWS SAM
.aws-sam/

# OS
.DS_Store

#Supabase
.branches/
.temp/

#Firebase
google-services.json
firebase-admin.json

#Prebuits
android/
ios/

#AWS
.aws-sam/
